<!-- wrapper-->
<div id="wrapper">
    <!-- content-->
    <div class="content">
        <!--  section  -->
        <section class="parallax-section single-par" data-scrollax-parent="true">
            <div class="bg par-elem "  data-bg="images/banner/paketler-banner-ararsin.webp" data-scrollax="properties: { translateY: '30%' }"></div>
            <div class="overlay op7"></div>
            <div class="container">
                <div class="section-title center-align big-title">
                    <h2><span>Paketlerimiz</span></h2>
                    <span class="section-separator"></span>
                    <div class="breadcrumbs fl-wrap"><a href="#">Ararsın.com</a><span>Paketlerimiz</span></div>
                </div>
            </div>
            <div class="header-sec-link">
                <a href="#sec1" class="custom-scroll-link"><i class="fal fa-angle-double-down"></i></a> 
            </div>
        </section>
        <!--  section  end-->
        <section   id="sec1" data-scrollax-parent="true">
            <div class="container">
                <div class="section-title">
                    <h2> Paket Seçeneklerimiz ve İçerikleri</h2>
                    <div class="section-subtitle">Üyelik Seçeneklerimiz</div>
                    <span class="section-separator"></span>
                    <p>Kimliğinize en uygun paketi seçebilirsiniz.</p>
                </div>
                <div class="pricing-switcher">
                    <div class="fieldset color-bg">
                        <input type="radio" name="duration-1"  id="monthly-1" class="tariff-toggle" checked>
                        <label for="monthly-1">Aylık</label>
                        <input type="radio" name="duration-1" class="tariff-toggle"  id="yearly-1">
                        <label for="yearly-1">Yıllık</label>
                        <span class="switch"></span>
                    </div>
                </div>
                <div class="pricing-wrap fl-wrap">
                    <!-- price-item-->
                    <div class="price-item">
                        <div class="price-head  purp-gradient-bg">
                            <h3>Basit Yönetim</h3>
                            <div class="price-num col-dec-1 fl-wrap">
                                <div class="price-num-item"><span class="mouth-cont"><span class="curen">₺</span>29</span><span class="year-cont"><span class="curen">₺</span>299</span></div><div class="nokta-not">.90</div>
                                <div class="clearfix"></div>
                                <div class="price-num-desc"><span class="mouth-cont">Aylık</span><span class="year-cont">Yıllık</span></div>
                            </div>
                            <div class="circle-wrap" style="right:20%;top:50px;"  >
                                <div class="circle_bg-bal circle_bg-bal_versmall" data-scrollax="properties: { translateY: '50px' }"></div>
                            </div>
                            <div class="circle-wrap" style="right:75%;top:90px;"  >
                                <div class="circle_bg-bal circle_bg-bal_versmall"></div>
                            </div>
                            <div class="footer-wave">
                                <svg viewbox="0 0 100 25">
                                    <path fill="#fff" d="M0 30 V12 Q30 17 55 12 T100 11 V30z" />
                                </svg>
                            </div>
                            <div class="footer-wave footer-wave2">
                                <svg viewbox="0 0 100 25">
                                    <path fill="#fff" d="M0 90 V12 Q30 7 45 12 T100 11 V30z" />
                                </svg>
                            </div>
                        </div>
                        <div class="price-content fl-wrap">
                            <div class="price-desc fl-wrap">
                                <ul class="no-list-style">
                                    <li>Silver Üyelik Rozeti</li>
                                    <li>Firma Adı ve Sloganı</li>
                                    <li>Firma Logosu</li>
                                    <li>1 Adet Tanıtım Yazısı</li>
                                    <li>İrtibat Numarası Ekleme</li>
                                    <li>Hakkında Bölümü</li>
                                    <li>Galeri Oluşturabilme</li>
                                    <li>Sosyal Medya Hesapları</li>
 
                                </ul>
                                <div class="price-num-desc">
                                    <span class="mouth-cont"><span class="mouth-cont"></span><a href="/iletisim" class="price-link purp-bg">Satın Al</a></span></span>
                                    <span class="year-cont"><span class="mouth-cont"></span><a href="/iletisim" class="price-link purp-bg">Satın Al</a></span></span>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <!-- price-item end-->
                    <!-- price-item-->
                    <div class="price-item best-price">
                        <div class="price-head   gradient-bg">
                            <h3>Gelişmiş Yönetim</h3>
                            <div class="price-num col-dec-2 fl-wrap">
                                <div class="price-num-item"><span class="mouth-cont"><span class="curen">₺</span>39</span><span class="year-cont"><span class="curen">₺</span>399</span></div><div class="nokta-not">.90</div>
                                <div class="clearfix"></div>
                                <div class="price-num-desc"><span class="mouth-cont">Aylık</span><span class="year-cont">Yıllık</span></div>
                            </div>
                            <div class="circle-wrap" style="right:20%;top:70px;"  >
                                <div class="circle_bg-bal circle_bg-bal_versmall"></div>
                            </div>
                            <div class="circle-wrap" style="right:70%;top:40px;"  >
                                <div class="circle_bg-bal circle_bg-bal_versmall" data-scrollax="properties: { translateY: '-150px' }"></div>
                            </div>
                            <div class="footer-wave">
                                <svg viewbox="0 0 100 25">
                                    <path fill="#fff" d="M0 60 V2 Q30 17 55 12 T100 11 V30z" />
                                </svg>
                            </div>
                            <div class="footer-wave footer-wave2">
                                <svg viewbox="0 0 100 25">
                                    <path fill="#fff" d="M0 90 V16 Q30 7 45 12 T100 5 V30z" />
                                </svg>
                            </div>
                        </div>
                        <div class="price-content fl-wrap">
                            <div class="price-desc fl-wrap">
                                <ul class="no-list-style">
                                    <li>Gümüş Üyelik Rozeti</li>
                                    <li>Basit Hesap Özellikleri</li>
                                    <li>2 Adet Tanıtım Yazısı</li>
                                    <li>İrtibat Numarası Eklem</li>
                                    <li>Firma Web Sitesi Yönlendirme</li>
                                    <li>Sosyal Medya Hesapları</li>
                                    <li>20 Adet Ürün Listeleme</li>
                                    <li>Müşteriden Mesajlarını Görebilme</li>

                                </ul>
                                <div class="price-num-desc">
                                    <span class="mouth-cont"><span class="mouth-cont"></span><a href="/iletisim" class="price-link rec-link color-bg">Satın Al</a></span></span>
                                    <span class="year-cont"><span class="mouth-cont"></span><a href="/iletisim" class="price-link rec-link color-bg">Satın Al</a></span></span>
                                </div>
                                <div class="recomm-price">
                                    <i class="fal fa-check"></i> 
                                    En Çok Tercih Edilen
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- price-item end-->
                    <!-- price-item-->
                    <div class="price-item">
                        <div class="price-head green-gradient-bg  ">
                            <h3>Profesyonel Yönetim</h3>
                            <div class="price-num col-dec-1 fl-wrap">
                                <div class="price-num-item"><span class="mouth-cont"><span class="curen">₺</span>49</span><span class="year-cont"><span class="curen">₺</span>499</span></div><div class="nokta-not">.90</div>
                                <div class="clearfix"></div>
                                <div class="price-num-desc"><span class="mouth-cont">Aylık</span><span class="year-cont">Yıllık</span></div>
                            </div>
                            <div class="circle-wrap" style="right:20%;top:50px;"  >
                                <div class="circle_bg-bal circle_bg-bal_versmall" data-scrollax="properties: { translateY: '50px' }"></div>
                            </div>
                            <div class="circle-wrap" style="right:75%;top:90px;"  >
                                <div class="circle_bg-bal circle_bg-bal_versmall"  ></div>
                            </div>
                            <div class="footer-wave">
                                <svg viewbox="0 0 100 25">
                                    <path fill="#fff" d="M0 30 V12 Q30 17 55 12 T100 11 V30z" />
                                </svg>
                            </div>
                            <div class="footer-wave footer-wave2">
                                <svg viewbox="0 0 100 25">
                                    <path fill="#fff" d="M0 90 V12 Q30 7 45 12 T100 11 V30z" />
                                </svg>
                            </div>
                        </div>
                        <div class="price-content fl-wrap">
                            <div class="price-desc fl-wrap">
                                <ul class="no-list-style">
                                    <li>Gold Üyelik Rozeti</li>
                                    <li>Gelişmiş Hesap Özellikleri </li>
                                    <li>3 Adet Blog için Tanıtım Yazısı</li>
                                    <li>Firma Web Sitesi ve Mail Yönlendirme</li>
                                    <li>Firma Tanıtım Videosu</li>
                                    <li>50 Adet Ürün Listeleme</li>
                                    <li>4 Farklı Sayfa Tasarımı</li>
                                    <li>Müşterileriniz ile Canlı Destek</li>
    
                                </ul>
                                <div class="price-num-desc">
                                    <span class="mouth-cont"><span class="mouth-cont"></span><a href="/iletisim" class="price-link green-bg">Satın Al</a></span></span>
                                    <span class="year-cont"><span class="mouth-cont"></span><a href="/iletisim" class="price-link green-bg">Satın Al</a></span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- price-item end-->                                                    
                </div>
                <span class="section-separator"></span>
                <!-- features-box-container --> 
                <div class="features-box-container fl-wrap">
                    <div class="row">
                        <!--features-box --> 
                        <div class="col-md-4">
                            <div class="features-box">
                                <div class="time-line-icon">
                                    <i class="fal fa-headset"></i>
                                </div>
                                <h3>7/24 Destek</h3>
                                <p>Her daim yanınızdayız. Haftanın her günü destek alabileceğiniz destek ekibi.</p>
                            </div>
                        </div>
                        <!-- features-box end  --> 
                        <!--features-box --> 
                        <div class="col-md-4">
                            <div class="features-box">
                                <div class="time-line-icon">
                                    <i class="fal fa-users-cog"></i>
                                </div>
                                <h3>Yönetici Paneli</h3>
                                <p>İşletmenizi müşterilerinize en verimli tanıtabileceğiniz yönetim paneli.</p>
                            </div>
                        </div>
                        <!-- features-box end  --> 
                        <!--features-box --> 
                        <div class="col-md-4">
                            <div class="features-box ">
                                <div class="time-line-icon">
                                    <i class="fal fa-mobile"></i>
                                </div>
                                <h3>Mobil Uyumlu</h3>
                                <p>İşletmenizi mobil veya masaüstü her yerden güncel tutabileceğiniz mobil uyumlu panel.</p>
                            </div>
                        </div>
                        <!-- features-box end  -->  
                    </div>
                </div>
                <!-- features-box-container end  --> 
            </div>
        </section>
    </div>
    <!--content end-->
</div>
<!-- wrapper end-->