            <!-- wrapper-->
            <div id="wrapper">
                <!-- content-->
                <div class="content">
                    <!--  section  -->
                    <section class="parallax-section single-par" data-scrollax-parent="true">
                        <div class="bg par-elem "  data-bg="/images/banner/ararsin-banner-sss.jpg" data-scrollax="properties: { translateY: '30%' }"></div>
                        <div class="overlay op7"></div>
                        <div class="container">
                            <div class="section-title center-align big-title">
                                <h2><span>Yardım Merkezi</span></h2>
                                <span class="section-separator"></span>
                                <div class="breadcrumbs fl-wrap"><a href="https://ararsin.com">Ararsın.com</a><span>Yardım Merkezi</span></div>

                            </div>
                        </div>
                        <div class="header-sec-link">
                            <a href="#sec1" class="custom-scroll-link"><i class="fal fa-angle-double-down"></i></a> 
                        </div>
                    </section>
                    <!--  section  end-->
                    <!--section  -->
                    <section data-scrollax-parent="true" id="sec1">
                        <div class="container">
                            <div class="section-title">
                                <h2>Nasıl Çalışırız</h2>
                                <div class="section-subtitle">Merak &amp; Ettikleriniz </div>
                                <span class="section-separator"></span>
                                <p><a href="https://ararsin.com">Ararsın.com </a> nasıl çalışır merak ediyorsanız burayı okuyabilirsiniz.</p>
                            </div>
                            <div class="process-wrap fl-wrap">
                                <ul class="no-list-style">
                                    <li>
                                        <div class="process-item">
                                            <span class="process-count">01 </span>
                                            <div class="time-line-icon"><i class="fal fa-map-marker-alt"></i></div>
                                            <h4> Sahiplenin</h4>
                                            <p>Bulunan işletme sizlere ait ise sahiplenin butonuna basınız.</p><br>
                                        </div>
                                        <span class="pr-dec"></span>
                                    </li>
                                    <li>
                                        <div class="process-item">
                                            <span class="process-count">02</span>
                                            <div class="time-line-icon"><i class="fal fa-mail-bulk"></i></div>
                                            <h4> Bizimle İletişime Geçin</h4>
                                            <p>Açılan form daki bilgileri doldurun.</p><br><br>
                                        </div>
                                        <span class="pr-dec"></span>
                                    </li>
                                    <li>
                                        <div class="process-item">
                                            <span class="process-count">03</span>
                                            <div class="time-line-icon"><i class="fal fa-layer-plus"></i></div>
                                            <h4> Firmanız Artık Hazır</h4>
                                            <p>Doldurduğunuz bilgilere istinaden tarafınıza dönüş sağlanıp sayfanız için gerekli bilgiler iletilip yayına alınacaktır.</p>
                                        </div>
                                    </li>
                                </ul>
                                <div class="process-end"><i class="fal fa-check"></i></div>
                            </div>
                        </div>
                    </section>
                    <!--section end-->
                   
                    <section class="gray-bg" id="sec3">
                        <div class="container">
                            <div class="section-title">
                                <h2> Sıkça Sorulan Sorular</h2>
                                <div class="section-subtitle">Sıkça Sorulan Sorular</div>
                                <span class="section-separator"></span>
                                <p>Merak ettiğiniz konular hakkında bilgiler aşağıda yer almaktadır.</p>
                            </div>
                            <div class="post-container fl-wrap">
                                <div class="row">
                                    <!-- blog content-->
                                    <div class="col-md-3">
                                        <div class="faq-nav help-bar scroll-init">
                                            <ul class="no-list-style">
                                                <li>
                                                    <a href="#fq1">
                                                    <i class="fal fa-space-shuttle"></i>
                                                    <span>Başlangıç ile ilgili</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#fq2">
                                                    <i class="fal fa-cart-arrow-down"></i>
                                                    <span>Üyelik planları ile ilgili</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#fq3">
                                                    <i class="fal fa-barcode-read"></i>
                                                    <span>Satış ile ilgili</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#fq4">
                                                    <i class="fal fa-user-headset"></i>
                                                    <span>Destek ile ilgili</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- blog conten end-->
                                    <!-- blog sidebar -->
                                    <div class="col-md-9">
                                        <!-- faq-section -->
                                        <div class="faq-title faq-title_first fl-wrap">Başlangıç ile ilgili</div>
                                        <div class="faq-section fl-wrap" id="fq1">
                                            <!-- accordion-->
                                            <div class="accordion">
                                                <a class="toggle act-accordion" href="#">Neden Ararsin.com ?<span></span></a>
                                                <div class="accordion-inner visible">
                                                    <p>Ararsin.com gelişen teknoloji ile birlikte firmanızın internette daha kolay bulunmasını sağlar.</p>
                                                    <p>Sizi arayan müşterileriniz firmanızın doğru adres ve telefon bilgilerine, web sitesine, güncel ürün ve hizmetlerine, yol tarifi ile firmaya kolayca erişim imkânı sağlar. Ararsin.com ürün ya da hizmetlerini sunan firmaların iletişim bilgilerini içerdiğinden dolayı karşımıza çıkabilecek gereksiz arama sonuçlarından ziyaretçileri kurtarmış oluyor. Gelişen firma rehberimiz ile ürün ilanları, video, sosyal medya bağlantıları, harita ve navigasyon hizmetleri ile pazarlama açısından çok etkili fayda sağlıyor. Web siteniz yoksa Ararsin.com üzerinden bir sayfa açarak kendi web siteniz gibi faaliyetlerinizi sergileyebilir, potansiyel müşterilerin ürün ve hizmetlerinizi kolayca bulmasını sağlayabilirsiniz.</p>
                                                    <p><bold>Not: Firma kaydınız profesyonel görünümde olmalı ve hizmet açıklamaları detaylı yazılmalıdır.</bold></p>
                                                </div>
                                                <a class="toggle" href="#">Firmanıza Faydaları Nelerdir ? <span></span></a>
                                                <div class="accordion-inner">
                                                    <p>Gelişen teknoloji ile birlikte günümüzde bir ürün veya hizmete ihtiyaç duyan herkes en kolay bulma yöntemi olarak telefonundan veya bilgisayarından istediği ürünü ve bulmak istediği bölgeyi aramaktadır.</p>
                                                    <p>Ararsin.com tam da burada devreye girmektedir. Örneğin: Adana matbaacılar, Ankara Mobilya Üreticileri, Ev tipi su arıtma cihazları, gibi bölge ve ürün ile ilgili aramalarda kullanıcılara doğru sonuçlar sunan en iyi firma rehberi hizmetini vermektedir.</p>
                                                    <p>Firmanızın internette reklamını yaparak ürün ve hizmetlerinizin satışını arttırabilir.Sosyal medya adreslerinizin takipçi sayısını yükseltir, internette firmanıza olan güven ve itibarı yükseltirsiniz.Ürün ve işyeri resimlerinizi yayınlayıp bilinirliği arttırabilir,</p>
                                                    <p>Firmanızın konumuna doğrudan erişmek isteyen kullanıcılar için verdiğimiz Harita Yol tarifi ile doğrudan işletmenize gelmelerini sağlayabilirsiniz.</p>
                                                    <p>Kurumsal İlan Sitemiz sayesinde birebir ziyaret edip, vergi levhası bulunan sitemize eklediğimiz güvenilir işletmelerle ticaretinizi geliştirebilir, tedarikçi ihtiyacınızı genişletebilirsiniz.</p>
                                                    <p>Aynı şekilde sizin yaptığınız işi arayan bir başka firma da sizi kolayca bulabilir.</p>
                                                    <p>Ekleyeceğimiz anahtar kelimeler ile firmanızı o kelimelerde arama motorlarında yükselterek rakiplerinizi geçebilirsiniz.</p>
                                                    <p><bold>Web sitenize ve satış kanallarınıza yönlendirir, trafik sağlar.</bold></p>
                                                    <p>Ararsin.com ile web sitenize, Online Yemek Sipariş bölümünde bulunan menülerinize, Amazon, Gittigidiyor, Sahibinden, N11… gibi internette bulunan mağazalarınızın da adresini yayınlayarak firmanızı ziyaret eden kişileri doğrudan satış kanalına yönlendirebilirsiniz.</p>
                                                </div>
                                                <a class="toggle" href="#">Ararsin.com nasıl çalışır ? <span></span></a>
                                                <div class="accordion-inner">
                                                    <p>Web siteniz ister olsun ister olmasın, küçük bir firmanız veya sadece internetten iş yapan bir acenteyseniz bile küçük bir bütçe ile büyük firmalara ve markalara karşı rekabet etme şansınız var.</p>
                                                    <p>Firmanız veya sektörünüzle alakalı aramalar da Ararsin.com firma rehberinin anahtar kelimeleri sayesinde arama motorlarında kolayca yükselirsiniz.</p>
                                                    <p>Ararsin.com arama motorlarına güven verir. Sitemize eklenen firmalar özel algoritmalarımız sayesinde öncelikli olarak listelenir.</p>
                                                    <p>Firmanızı ve ürünlerinizi sitemiz üzerinde tanıtarak işinizi büyütebilirsiniz. Firma sayfalarına gelen ziyaretler sektördeki diğer firmaları inceleyerek sizin firmanız ile ilgilenebilir.</p>
                                                </div>
                                                <a class="toggle" href="#">Firmalar neden dizinlere ekleme ihtiyacı duyarlar ? <span></span></a>
                                                <div class="accordion-inner">
                                                    <p>Günümüzde her alanda binlerce kişi veya firma hizmet vermektedir. Ürün veya hizmet arayanlar daha kolay bulabilecekleri internet sitelerinde arama yapmaktadır.</p>
                                                    <p>Kullanıcılar dizinlerde benzer firmaları incelemek ve irtibat kurmaya daha çok ihtiyaç duymaktalar.İnternet ortamında reklam yapmak hem daha kolay hem de çok daha az maliyetlidir.</p>
                                                    <p>Özellikle tüm firmaların ve ürünlerin bulunduğu bir ortamda reklam yapmak firmanızı daha çok kişiye duyurur. Büyük bir AVM düşünün ve bunun içinde binlerce firmanın olduğunu orayı ziyaret eden müşterilerin trafiğinide tabiki bu sitede firmanızın bulunduğu sektörü bir cadde halinde sergiliyoruz. Bu caddede firmalara ve ürünlerine bakan müşteriler seçimini kendisi yapıyor. Bu seçimi yaparken sunduğu hizmetleri, aldığı olumlu geri dönüşleri ve kendisine en yakın olanı seçiyor.</p>
                                                    <p>Bu nedenle ayağınıza kadar gelmiş bu sitede yer almayarak kendi ayağınıza gelmiş müşteriyi reddetmiş oluyorsunuz.</p>
                                                </div>
                                                <a class="toggle" href="#">Neden Ararsin.com reklamı ? <span></span></a>
                                                <div class="accordion-inner">
                                                    <p>İnternetten kendini tanıtmak isteyen firmaların ilk aklına gelen hemen bir web sitesi kurmaktır. Oysa web sitesi kurmadan önce detaylı analiz yapılsa çok daha farklı iş imkanları ile karşılaşacaklardır. Amacı ve pazarlama gücü olmayan web siteleri kullanışlı değildir.</p>
                                                    <p>İyi bir web sitesi yapmak ve buraya ziyaretçi trafiği çekmek ise yüksek maliyetlidir. Web sitesi demek emek özveri bilgi deneyim zaman ve tecrübeyle sabittir. Bu saydığımız özellikler bir web sitesi çalışmasında yok ise o çalışmaya web sitesi demek yanlış olur.</p>
                                                    <p>Bir çok işletme bu konuda yanlış yönlendirilmektedir. Bir domain bir de hosting aldın mı web sitesi hazır şeklinde söylemler kullanılmaktadır. Hatta 100 TL - 1000 TL arasında rakamlara hazır paket web siteleri satılmaktadır. Bu söylemin olduğu kişilerde bilgi ve tecrübe olmadığı hemen anlaşılır. İnternette kurduğunuz sitenin iyi bir SEO çalışması ve zengin içerikler ile beraber sektörünüzle alakalı sitelere reklam vermediğiniz sürece yapacağınız sitelerle sadece kendinizi kandırmış olursunuz.</p>
                                                    <p>Burada vurgulamak istediğimiz asıl konu; çöp olacak web sitesi kurmaktansa firma rehberleri kullanılarak daha fazla müşteri dönüşü sağlanabilir; Satış temsilcimiz ile doğru bir iletişim kurarak ve hedefinizi belirtirseniz, banner reklamları, anahtar kelimeler, özel tanıtım yazısı ile çok daha güzel sonuçlar alınabilir.</p>
                                                </div>
                                                <a class="toggle" href="#">İlanlar nasıl ne zaman yayınlanır ? <span></span></a>
                                                <div class="accordion-inner">
                                                    <p>Sitemize eklemiş olduğunuz kayıtlar manuel olarak teknik ekibimizin kontrolünden geçtikten sonra yayınlanmaktadır.</p>
                                                    <p>Biz hızlı bir şekilde ilanlarınızı onaylayarak eklediğiniz firma ve ilanların hızlıca listelenmesini sağlıyoruz.</p>
                                                    <p>Herhangi bir aksilik olmadığı müddetçe 1-2 saat gibi kısa bir sürede eklediğiniz ilanlar kontrol edilerek yayınlanır ve her 24 saatte bir yeni eklenen firmalar Google botlarına bildirilerek firmanın listelenmesi için başvuru yapılır. Bu başvurular Google tarafından bazen 1 gün bazen 1-2 hafta sonra arama sonuçlarında çıkmaktadır. Ancak Google gecikse bile firma sitemize eklendiği andan itibaren reklamını yapmaya başlayıp ziyaretçi alacaktır.</p>
                                                </div>
                                               
                                            </div>
                                            <!-- accordion end -->                                               
                                        </div>
                                        <!-- faq-section end -->
                                        <!-- faq-section -->
                                        <div class="faq-title fl-wrap">Üyelik planları ile ilgili</div>
                                        <div class="faq-section fl-wrap" id="fq2">
                                            <!-- accordion-->
                                            <div class="accordion">
                                                <a class="toggle" href="#">Silver Üyelik Nedir ?<span></span></a>
                                                <div class="accordion-inner">
                                                    <p>Ararsın Group ’un müşterilerinize güvenilirlik sağlamanız için oluşturduğu rozet sistemine göre silver üyelik rozetiniz eklenir. Silver Üyelik avantajlarından bir diğeri ise sistemde bulunan firma adınız ve logonuz da değişkenlik sağlayabilmenizdir. Kurumsal olan firmaların önemle baskın tuttuğu firma adı ve logo müşterilerinizin sizleri tanıyabilmesi için en büyük avantajlardan biridir. Akılda kalıcılık aşamasında ise Ararsın Group’un sunduğu firma sloganı ise ek olarak paketinize dahildir. Google algoritmasına göre ön planda çıkmanızı desteklemek için Ararsın.com ‘un işbirlikleri ile desteklediği reklam stratejileri blog sitemize tarafınızdan tarafımıza iletilmiş olan 1 adet tanıtım yazısını ekleyerek avantajlı bir duruma geçebilmeniz için düzenlenmiştir. Ek olarak birden fazla irtibat numarasına sahip olan firmaların ve iletişim hatlarında yoğunluk yaşamamaları için ekstradan irtibat numarası eklemeleri panellerinde aktif duruma getirilmiştir. Firmanızın müşterilere yatkın olarak hangi alanda hizmet verdiği ve aktif müşterilerinizin tarafınıza direk ulaşabilmeleri için panelinize hakkında bölümleri karakter kısıtlaması olmadan yansımaktadır. Aylık milyonları aşan müşteri kitlesine sahip Ararsin.com ‘un firmalar için oluşturmuş olduğu en verimli seçeneklerinden birisi ise müşterilerinizin sizleri sosyal medya hesaplarınızdan takip etmesini sağlayan yönlendirmelerdir. Sosyal medya hesaplarınıza yapacağınız yönlendirmelerden dolayı bilinirlik, satış ve hizmet aktivitelerin artmasından ötürü kitle artışı ve müşterilerinizin sizleri takip etmesi ekstradan reklam bütçeleri oluşturmamanızı sağlayacaktır.</p>
                                                </div>
                                                <a class="toggle" href="#">Silver Üyeliğin avantajları nelerdir ?<span></span></a>
                                                <div class="accordion-inner">
                                                    <p></p>
                                                </div>
                                                <a class="toggle" href="#">Nasıl Silver Üye olabilirim ?<span></span></a>
                                                <div class="accordion-inner">
                                                    <p></p>
                                                </div>
                                                <a class="toggle" href="#">Gümüş Üyelik Nedir ?<span></span></a>
                                                <div class="accordion-inner">
                                                    <p>Ararsın Group ’un müşterilerinize güvenilirlik sağlamanız için oluşturduğu rozet sistemine göre Gümüş Üyelik rozetiniz eklenir. Gümüş Üyelik avantajlarından bir diğeri ise sistemde bulunan firma adınız ve logonuz da değişkenlik sağlayabilmenizdir. Kurumsal olan firmaların önemle baskın tuttuğu firma adı ve logo müşterilerinizin sizleri tanıyabilmesi için en büyük avantajlardan biridir. Akılda kalıcılık aşamasında ise Ararsın Group’un sunduğu firma sloganı ise ek olarak paketinize dahildir. Google algoritmasına göre ön planda çıkmanızı desteklemek için Ararsın.com ‘un işbirlikleri ile desteklediği reklam stratejileri blog sitemize tarafınızdan tarafımıza iletilmiş olan 2 adet tanıtım yazısını ekleyerek avantajlı bir duruma geçebilmeniz için düzenlenmiştir. Ek olarak birden fazla irtibat numarasına sahip olan firmaların ve iletişim hatlarında yoğunluk yaşamamaları için ekstradan irtibat numarası eklemeleri panellerinde aktif duruma getirilmiştir. Firmanızın müşterilere yatkın olarak hangi alanda hizmet verdiği ve aktif müşterilerinizin tarafınıza direk ulaşabilmeleri için panelinize hakkında bölümleri karakter kısıtlaması olmadan yansımaktadır. Aylık milyonları aşan müşteri kitlesine sahip Ararsin.com ‘un firmalar için oluşturmuş olduğu en verimli seçeneklerinden birisi ise müşterilerinizin sizleri sosyal medya hesaplarınızdan takip etmesini sağlayan yönlendirmelerdir. Sosyal medya hesaplarınıza yapacağınız yönlendirmelerden dolayı bilinirlik, satış ve hizmet aktivitelerin artmasından ötürü kitle artışı ve müşterilerinizin sizleri takip etmesi ekstradan reklam bütçeleri oluşturmamanızı sağlayacaktır. Buna ek olarak web site adresinizi panelinizden ekleyerek günlük hitinizi ve kullanıcı sayınızı arttıracak yönlendirmeden faydalanabilirsiniz. Ürün tanıtımı ve satışı yapan bir çok firmanın ürünlerini Türkiye çapından ses getiren Ararsin.com ‘un üzerinden tanıtabilmesi için 20 adet ürün sınırı ile paylaşabilmeniz için paketinize eklenmiştir.</p>
                                                </div>
                                                <a class="toggle" href="#">Gümüş Üyeliğin avantajları nelerdir ?<span></span></a>
                                                <div class="accordion-inner">
                                                    <p></p>
                                                </div>
                                                <a class="toggle" href="#">Nasıl Gümüş Üye olabilirim ?<span></span></a>
                                                <div class="accordion-inner">
                                                    <p></p>
                                                </div>
                                                <a class="toggle" href="#">Gold Üyelik Nedir ?<span></span></a>
                                                <div class="accordion-inner">
                                                    <p>Ararsın Group ’un müşterilerinize güvenilirlik sağlamanız için oluşturduğu rozet sistemine göre Gold Üyelik rozetiniz eklenir. Gold Üyelik avantajlarından bir diğeri ise sistemde bulunan firma adınız ve logonuz da değişkenlik sağlayabilmenizdir. Kurumsal olan firmaların önemle baskın tuttuğu firma adı ve logo müşterilerinizin sizleri tanıyabilmesi için en büyük avantajlardan biridir. Akılda kalıcılık aşamasında ise Ararsın Group’un sunduğu firma sloganı ise ek olarak paketinize dahildir. Google algoritmasına göre ön planda çıkmanızı desteklemek için Ararsın.com ‘un işbirlikleri ile desteklediği reklam stratejileri blog sitemize tarafınızdan tarafımıza iletilmiş olan 3 adet tanıtım yazısını ekleyerek avantajlı bir duruma geçebilmeniz için düzenlenmiştir ve firmanızın tanıtım videosunu panelinizden ekleyerek daha şeffaf ve gerçek hizmet alanınızı müşterilerinizin sizleri daha iyi tanıyabilmeleri için aktif hale getirilmiştir.  Ek olarak birden fazla irtibat numarasına sahip olan firmaların ve iletişim hatlarında yoğunluk yaşamamaları için ekstradan irtibat numarası eklemeleri panellerinde aktif duruma getirilmiştir. Firmanızın müşterilere yatkın olarak hangi alanda hizmet verdiği ve aktif müşterilerinizin tarafınıza direk ulaşabilmeleri için panelinize hakkında bölümleri karakter kısıtlaması olmadan yansımaktadır. Aylık milyonları aşan müşteri kitlesine sahip Ararsin.com ‘un firmalar için oluşturmuş olduğu en verimli seçeneklerinden birisi ise müşterilerinizin sizleri sosyal medya hesaplarınızdan takip etmesini sağlayan yönlendirmelerdir. Sosyal medya hesaplarınıza yapacağınız yönlendirmelerden dolayı bilinirlik, satış ve hizmet aktivitelerin artmasından ötürü kitle artışı ve müşterilerinizin sizleri takip etmesi ekstradan reklam bütçeleri oluşturmamanızı sağlayacaktır. Buna ek olarak web site adresinizi panelinizden ekleyerek günlük hitinizi ve kullanıcı sayınızı arttıracak yönlendirmeden faydalanabilirsiniz. Ürün tanıtımı ve satışı yapan bir çok firmanın ürünlerini Türkiye çapından ses getiren Ararsin.com ‘un üzerinden tanıtabilmesi için 50 adet ürün sınırı ile paylaşabilmeniz için paketinize eklenmiştir.  Firmanızdan toplu hizmet ve ürün alımları sağlamak isteyen ve kurumsal kimliğinizi ön plana çıkarmak için firma mail adresinizi panelinizden ekleyebilirisiniz. Müşterilerine farklı tasarımlarda hitap etmek isteyen firmalar için Gold Üyelik paketine eklenmiş olan 4 farklı tasarımdan birini seçerek profilinizi özelleştirebilmeniz mümkün hale getirilmiştir.  Aktif olarak müşterileriniz ile irtibat halinde olabilmeniz anlık olarak sorularına cevap verebilmeniz ve satış hacminizi arttırabilmeniz için profilinize giren her müşteri canlı destek hizmetiyle sizlerle iletişime geçebilmektedir.</p>
                                                </div>
                                                <a class="toggle" href="#">Gold Üyeliğin avantajları nelerdir ?<span></span></a>
                                                <div class="accordion-inner">
                                                    <p></p>
                                                </div>
                                                <a class="toggle" href="#">Nasıl Gold Üye olabilirim ?<span></span></a>
                                                <div class="accordion-inner">
                                                    <p></p>
                                                </div>
                                            </div>
                                            <!-- accordion end -->                                               
                                        </div>
                                        <!-- faq-section end -->
                                        <!-- faq-section -->
                                        <div class="faq-title fl-wrap">Satış ile ilgili</div>
                                        <div class="faq-section fl-wrap" id="fq3">
                                            <!-- accordion-->
                                            <div class="accordion">
                                               <a class="toggle" href="#">Üye olmamın bana ve firmama artıları nelerdir ?<span></span></a>
                                                <div class="accordion-inner">
                                                    <p></p>
                                                </div>
                                                <a class="toggle" href="#">Almış olduğum paketi değiştirebilir miyim?<span></span></a>
                                                <div class="accordion-inner">
                                                    <p></p>
                                                </div>
                                                <a class="toggle" href="#">İade ile ilgili bilgilendirme ?<span></span></a>
                                                <div class="accordion-inner">
                                                    <p></p>
                                                </div>
                                            </div>
                                            <!-- accordion end -->                                               
                                        </div>
                                        <!-- faq-section end -->
                                        <!-- faq-section -->
                                        <div class="faq-title fl-wrap">Destek ile ilgili</div>
                                        <div class="faq-section fl-wrap" id="fq4">
                                            <!-- accordion-->
                                            <div class="accordion">
                                                <a class="toggle" href="#">Sorun yaşarsam sizlere nasıl ulaşabilirim ?<span></span></a>
                                                <div class="accordion-inner">
                                                    <p></p>
                                                </div>
                                                <a class="toggle" href="#">Firmamı sahiplenmek istiyorum. Ne yapmalıyım ?<span></span></a>
                                                <div class="accordion-inner">
                                                    <p></p>
                                                </div>
                                            </div>
                                            <!-- accordion end -->                                               
                                        </div>
                                        <!-- faq-section end -->
                                        <div class="faq-links fl-wrap">
                                            <h3 class="faq-links-title">Daha fazla müşteri kazanmak istiyorsanız ?</h3>
                                            <span class="section-separator"></span>
                                            <!-- post nav --> 
                                            <div class="post-nav-wrap fl-wrap">
                                                <a class="post-nav post-nav-prev" href="tel:05522804742"><span class="post-nav-img"><img src="images/all/1.jpg" alt=""></span><span class="post-nav-text"><strong>Bizi arayın</strong> <br>0 (552) 280 47 42</span></a> 
                                                <a class="post-nav post-nav-next" href="mailto:destek@ararsin.com"><span class="post-nav-img"><img src="images/all/1.jpg" alt=""></span><span class="post-nav-text"><strong>Mail ile bize ulaşın</strong><br>destek@ararsin.com</span></a> 
                                            </div>
                                            <!-- post nav end --> 
                                        </div>
                                    </div>
                                    <!-- blog sidebar end -->
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="limit-box fl-wrap"></div>
                </div>
                <!--content end-->
            </div>
            <!-- wrapper end-->