<!-- wrapper-->
<div id="wrapper">
    <!-- content-->
    <div class="content">
        <section class="listing-hero-section hidden-section" data-scrollax-parent="true">

            <!--<div class="bg-parallax-wrap">
                <div class="bg par-elem "  data-bg="images/bg/1.jpg" data-scrollax="properties: { translateY: '30%' }"></div>
                <div class="overlay"></div>
            </div>   -->
            <div class="container">
                <div class="breadcrumbs inline-breadcrumbs fl-wrap mobile-close">
                    <a href="#">Home</a><a href="#">Listings</a><a href="#">New York</a><span>Listing Single</span>
                </div>
                <div class="list-single-header-item  fl-wrap">
                    <div class="row">
                        <div class="col-md-9">
                            <h1>Iconic Cafe in Manhattan <span class="verified-badge"><i
                                        class="fal fa-check"></i></span></h1>
                            <!--    <div class="geodir-category-location fl-wrap"><a href="#"><i class="fas fa-map-marker-alt"></i>  70 Bright St New York, USA</a> <a href="#"> <i class="fal fa-phone"></i>+38099231212</a> <a href="#"><i class="fal fa-envelope"></i> yourmail@domain.com</a></div> -->
                        </div>
                        <div class="col-md-3">
                            <a class="fl-wrap list-single-header-column custom-scroll-link " href="#sec5">
                                <div class="listing-rating-count-wrap single-list-count">
                                    <div class="review-score">4.1</div>
                                    <div class="listing-rating card-popup-rainingvis" data-starrating2="4"></div>
                                    <br>
                                    <div class="reviews-count">2 reviews</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="list-single-header_bottom fl-wrap mobile-close">
                    <a class="listing-item-category-wrap" href="#">
                        <div class="listing-item-category  red-bg"><i class="fal fa-cheeseburger"></i></div>
                        <span>Restaurants</span>
                    </a>
                    <div class="list-single-author"> <a href="author-single.html"><span class="author_avatar"> <img
                                    alt='' src='/images/avatar/1.jpg'> </span>By Alisa Noory</a></div>
                    <div class="list-single-author"> <a href="author-single.html"><span class="author_avatar"> <img
                                    alt='' src='/images/avatar/1.jpg'> </span>By Alisa Noory</a></div>
                    <div class="list-single-stats">
                        <ul class="no-list-style">
                            <li><span class="viewed-counter"><i class="fas fa-eye"></i> Viewed - 156 </span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- scroll-nav-wrapper-->
        <div class="scroll-nav-wrapper fl-wrap">
            <div class="container">
                <nav class="scroll-nav scroll-init">
                    <ul class="no-list-style">
                        <li><a class="act-scrlink" href="#harita"><i class="fal fa-images"></i> Harita</a></li>
                        <li><a href="#sec2"><i class="fal fa-info"></i>Hakkında</a></li>
                        <li><a href="#sec3"><i class="fal fa-award"></i>Hizmetler</a></li>
                        <li><a href="#galeri"><i class="fal fa-image"></i>Galeri</a></li>
                        <li><a href="#sec5"><i class="fal fa-comments-alt"></i>Yorumlar</a></li>
                    </ul>
                </nav>
                <div class="scroll-nav-wrapper-opt">
                    <a href="#" class="scroll-nav-wrapper-opt-btn"> <i class="fas fa-phone"></i> İletişime Geç Ara </a>
                    <a href="#" class="scroll-nav-wrapper-opt-btn showshare"> <i class="fas fa-map"></i> Yol Tarifi </a>
                    <div class="share-holder hid-share">
                        <div class="share-container  isShare"></div>
                    </div>
                    <div class="show-more-snopt"><i class="fal fa-ellipsis-h"></i></div>
                    <div class="show-more-snopt-tooltip">
                        <a href="#"> <i class="fas fa-comment-alt"></i> Düzenleme Öner</a>
                        <a href="#"> <i class="fas fa-flag-alt"></i> Bu sayfayı sahiplen </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- scroll-nav-wrapper end-->
        <section class="gray-bg no-top-padding">
            <div class="container">

                <div class="clearfix"></div>
                <div class="row">
                    <!-- list-single-main-wrapper-col -->
                    <div class="col-md-8">
                        <div class="list-single-main-media fl-wrap">
                            <img src="/auto/subs_def_image.jpg" class="respimg" alt="">
                        </div>
                        <!-- list-single-main-wrapper -->
                        <div class="list-single-main-wrapper fl-wrap">
                            <!--box-widget-item -->
                            <div class="box-widget-item fl-wrap block_box">
                                <div class="box-widget-item-header">
                                    <h3>İletişim Bilgileri</h3>
                                </div>
                                <div class="box-widget">
                                    <div class="box-widget-content bwc-nopad">
                                        <div class="list-author-widget-contacts list-item-widget-contacts bwc-padside">
                                            <ul class="no-list-style">
                                                <li><span><i class="fal fa-globe-europe"></i> Firma ismi
                                                        kısa_başlık+başlık </span></li>
                                                <li><span><i class="fal fa-map-marker"></i> Adress :</span> <a
                                                        href="#">USA 27TH Brooklyn NY</a></li>
                                                <li><span><i class="fal fa-phone"></i> Phone :</span> <a
                                                        href="#">+7(123)987654</a></li>
                                                <li><span><i class="fal fa-envelope"></i> Mail :</span> <a
                                                        href="#">AlisaNoory@domain.com</a></li>
                                                <li><span><i class="fal fa-browser"></i> Website :</span> <a
                                                        href="#">themeforest.net</a></li>
                                            </ul>
                                        </div>
                                        <div class="list-widget-social bottom-bcw-box  fl-wrap">
                                            <ul class="no-list-style">
                                                <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                                                </li>
                                                <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                                </li>
                                                <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="#" target="_blank"><i class="fab fa-vk"></i></a></li>
                                            </ul>
                                            <div class="bottom-bcw-box_link"><a href="#"
                                                    class="show-single-contactform tolt" data-microtip-position="top"
                                                    data-tooltip="İletişim Kurun"><i class="fal fa-envelope"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--box-widget-item end -->
                            <!--box-widget-item -->
                            <div class="box-widget-item fl-wrap block_box" id="harita">
                                <div class="box-widget-item-header">
                                    <h3>Harita </h3>
                                </div>
                                <div class="box-widget">
                                    <div class="map-container">
                                        <div id="singleMap" data-latitude="40.7427837"
                                            data-longitude="-73.11445617675781" data-mapTitle="Our Location"></div>
                                    </div>
                                </div>
                            </div>
                            <!--box-widget-item end -->
                            <!-- list-single-main-item -->
                            <div class="list-single-main-item fl-wrap block_box" id="sec2">
                                <div class="list-single-main-item-title">
                                    <h3>Firma Tanıtımı</h3>
                                </div>
                                <div class="list-single-main-item_content fl-wrap">
                                    <p>Praesent eros turpis, commodo vel justo at, pulvinar mollis eros. Mauris aliquet
                                        eu quam id ornare. Morbi ac quam enim. Cras vitae nulla condimentum, semper
                                        dolor non, faucibus dolor. Vivamus adipiscing eros quis orci fringilla, sed
                                        pretium lectus viverra. Pellentesque habitant morbi tristique senectus et netus
                                        et malesuada fames ac turpis egestas. Donec nec velit non odio aliquam suscipit.
                                        Sed non neque faucibus, condimentum lectus at, accumsan enim. </p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar
                                        neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere
                                        sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Aliquam erat volutpat.
                                        Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis massa
                                        faucibus feugiat. In fermentum facilisis massa, a consequat purus viverra.</p>
                                </div>
                            </div>
                            <!-- list-single-main-item end -->
                            <!-- list-single-main-item -->
                            <div class="list-single-main-item fl-wrap block_box">
                                <div class="list-single-main-item-title">
                                    <h3>Hizmet Tanıtımı</h3>
                                </div>
                                <div class="list-single-main-item_content fl-wrap">
                                    <p>Praesent eros turpis, commodo vel justo at, pulvinar mollis eros. Mauris aliquet
                                        eu quam id ornare. Morbi ac quam enim. Cras vitae nulla condimentum, semper
                                        dolor non, faucibus dolor. Vivamus adipiscing eros quis orci fringilla, sed
                                        pretium lectus viverra. Pellentesque habitant morbi tristique senectus et netus
                                        et malesuada fames ac turpis egestas. Donec nec velit non odio aliquam suscipit.
                                        Sed non neque faucibus, condimentum lectus at, accumsan enim. </p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar
                                        neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere
                                        sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Aliquam erat volutpat.
                                        Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis massa
                                        faucibus feugiat. In fermentum facilisis massa, a consequat purus viverra.</p>
                                </div>
                            </div>
                            <!-- list-single-main-item end -->
                            <!-- list-single-main-item -->
                            <div class="list-single-main-item fl-wrap block_box" id="sec3">
                                <div class="list-single-main-item-title">
                                    <h3>Hizmet Listesi</h3>
                                </div>
                                <div class="list-single-main-item_content fl-wrap">
                                    <div class="listing-features fl-wrap">
                                        <ul class="no-list-style">
                                            <li><a href="#"><i class="fa fa-rocket"></i> Elevator in building</a></li>
                                            <li><a href="#"><i class="fa fa-wifi"></i> Free Wi Fi</a></li>
                                            <li><a href="#"><i class="fa fa-motorcycle"></i> Free Parking</a></li>
                                            <li><a href="#"><i class="fa fa-cloud"></i> Air Conditioned</a></li>
                                            <li><a href="#"><i class="fa fa-shopping-cart"></i> Online Ordering</a></li>
                                            <li><a href="#"><i class="fa fa-paw"></i> Pet Friendly</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- list-single-main-item end -->
                            <!-- list-single-main-item -->
                            <div class="list-single-main-item fl-wrap block_box">
                                <div class="list-single-main-item-title">
                                    <h3>Hizmet Bölgesi</h3>
                                </div>
                                <div class="list-single-main-item_content fl-wrap">
                                    <p>Hizmet bölgesi açıklaması</p>
                                </div>
                            </div>
                            <!-- list-single-main-item end -->
                            <!-- list-single-main-item-->
                            <div class="list-single-main-item fl-wrap block_box" id="galeri">
                                <div class="list-single-main-item-title">
                                    <h3>Galeri</h3>
                                </div>
                                <div class="list-single-main-item_content fl-wrap">
                                    <div class="single-carousel-wrap fl-wrap lightgallery">
                                        <div class="sc-next sc-btn color2-bg"><i class="fas fa-caret-right"></i></div>
                                        <div class="sc-prev sc-btn color2-bg"><i class="fas fa-caret-left"></i></div>
                                        <div class="single-carousel fl-wrap full-height">
                                            <div class="swiper-container">
                                                <div class="swiper-wrapper">
                                                    <!-- swiper-slide-->
                                                    <div class="swiper-slide">
                                                        <div class="box-item">
                                                            <img src="/images/all/1.jpg" alt="">
                                                            <a href="/images/all/1.jpg" class="gal-link popup-image"><i
                                                                    class="fa fa-search"></i></a>
                                                        </div>
                                                    </div>
                                                    <!-- swiper-slide end-->
                                                    <!-- swiper-slide-->
                                                    <div class="swiper-slide">
                                                        <div class="box-item">
                                                            <img src="/images/all/1.jpg" alt="">
                                                            <a href="/images/all/1.jpg" class="gal-link popup-image"><i
                                                                    class="fa fa-search"></i></a>
                                                        </div>
                                                    </div>
                                                    <!-- swiper-slide end-->
                                                    <!-- swiper-slide-->
                                                    <div class="swiper-slide">
                                                        <div class="box-item">
                                                            <img src="/images/all/1.jpg" alt="">
                                                            <a href="/images/all/1.jpg" class="gal-link popup-image"><i
                                                                    class="fa fa-search"></i></a>
                                                        </div>
                                                    </div>
                                                    <!-- swiper-slide end-->
                                                    <!-- swiper-slide-->
                                                    <div class="swiper-slide">
                                                        <div class="box-item">
                                                            <img src="/images/all/1.jpg" alt="">
                                                            <a href="/images/all/1.jpg" class="gal-link popup-image"><i
                                                                    class="fa fa-search"></i></a>
                                                        </div>
                                                    </div>
                                                    <!-- swiper-slide end-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- list-single-main-item end -->

                            <div class="list-single-facts fl-wrap">
                                <div class="row">
                                    <div class="col-md-4">
                                        <!-- inline-facts -->
                                        <div class="inline-facts-wrap gradient-bg ">
                                            <div class="inline-facts">
                                                <i class="fal fa-smile-plus"></i>
                                                <div class="milestone-counter">
                                                    <div class="stats animaper">
                                                        <div class="num" data-content="0" data-num="245">0</div>
                                                    </div>
                                                </div>
                                                <h6>Sayfa Ziyaret Sayısı</h6>
                                            </div>
                                            <div class="stat-wave">
                                                <svg viewbox="0 0 100 25">
                                                    <path fill="#fff" d="M0 30 V12 Q30 17 55 2 T100 11 V30z" />
                                                </svg>
                                            </div>
                                        </div>
                                        <!-- inline-facts end -->
                                    </div>
                                    <div class="col-md-4">
                                        <!-- inline-facts  -->
                                        <div class="inline-facts-wrap gradient-bg ">
                                            <div class="inline-facts">
                                                <i class="fal fa-users"></i>
                                                <div class="milestone-counter">
                                                    <div class="stats animaper">
                                                        <div class="num" data-content="0" data-num="2557">0</div>
                                                    </div>
                                                </div>
                                                <h6>Ziyaretçi Yorumları</h6>
                                            </div>
                                            <div class="stat-wave">
                                                <svg viewbox="0 0 100 25">
                                                    <path fill="#fff" d="M0 30 V12 Q30 17 55 12 T100 11 V30z" />
                                                </svg>
                                            </div>
                                        </div>
                                        <!-- inline-facts end -->
                                    </div>
                                    <div class="col-md-4">
                                        <!-- inline-facts  -->
                                        <div class="inline-facts-wrap gradient-bg ">
                                            <div class="inline-facts">
                                                <i class="fal fa-award"></i>
                                                <div class="milestone-counter">
                                                    <div class="stats animaper">
                                                        <div class="num" data-content="0" data-num="25">0</div>
                                                    </div>
                                                </div>
                                                <h6>Toplam Değerlendirme</h6>
                                            </div>
                                            <div class="stat-wave">
                                                <svg viewbox="0 0 100 25">
                                                    <path fill="#fff" d="M0 30 V12 Q30 12 55 5 T100 11 V30z" />
                                                </svg>
                                            </div>
                                        </div>
                                        <!-- inline-facts end -->
                                    </div>
                                </div>
                            </div>
                            <!-- list-single-facts end -->
                            <!-- list-single-main-item -->
                            <div class="list-single-main-item fl-wrap block_box">
                                <div class="list-single-main-item-title">
                                    <h3>Detay</h3>
                                </div>
                                <div class="list-single-main-item_content fl-wrap">
                                    <p>Otomatik olarka oluşacak açıklama</p>
                                    <p><I>kategoti il</I></p>
                                    <p><I>kategori ilçe</I></p>
                                    <p><I>il kategori</I></p>
                                    <p><I>ilce kategori</I></p>

                                </div>
                            </div>
                            <!-- list-single-facts -->

                            <!-- Yorum Alanı -->

                        </div>
                    </div>
                    <!-- list-single-main-wrapper-col end -->
                    <!-- list-single-sidebar -->
                    <div class="col-md-4">
                        <!--box-widget-item -->
                        <div class="box-widget-item fl-wrap block_box">
                            <div class="box-widget-item-header">
                                <h3>Çalışma Saatleri</h3>
                            </div>
                            <div class="box-widget opening-hours fl-wrap">
                                <div class="box-widget-content">
                                    <ul class="no-list-style">
                                        <li class="mon"><span class="opening-hours-day">Pazartesi </span><span
                                                class="opening-hours-time">08:00 - 18:00</span></li>
                                        <li class="tue"><span class="opening-hours-day">Salı </span><span
                                                class="opening-hours-time">08:00 - 18:00</span></li>
                                        <li class="wed"><span class="opening-hours-day">Çarşamba </span><span
                                                class="opening-hours-time">08:00 - 18:00</span></li>
                                        <li class="thu"><span class="opening-hours-day">Perşembe </span><span
                                                class="opening-hours-time">08:00 - 18:00</span></li>
                                        <li class="fri"><span class="opening-hours-day">Cuma </span><span
                                                class="opening-hours-time">08:00 - 18:00</span></li>
                                        <li class="sat"><span class="opening-hours-day">Cumartesi </span><span
                                                class="opening-hours-time">08:00 - 18:00</span></li>
                                        <li class="sun"><span class="opening-hours-day">Pazar </span><span
                                                class="opening-hours-time">Kapalı</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--box-widget-item end -->
                        <!--box-widget-item -->
                        <div class="box-widget-item fl-wrap block_box" id="#sorusor">
                            <div class="box-widget-item-header">
                                <h3>Yetkiliye mesaj at</h3>
                            </div>
                            <div class="box-widget">
                                <div class="box-widget-content">
                                    <form action="" method="POST" class="add-comment custom-form">
                                        <fieldset>
                                            <label><i class="fal fa-user"></i></label>
                                            <input type="text" placeholder="Adınız *" value="" required />
                                            <div class="clearfix"></div>
                                            <label><i class="fal fa-envelope"></i> </label>
                                            <input type="text" placeholder="Email Adresiniz*" value="" required />
                                            <textarea cols="40" rows="3" placeholder="Mesajınız:" required></textarea>
                                        </fieldset>
                                        <button type="submit" class="btn color2-bg url_btn float-btn">Gönder <i
                                                class="fal fa-bookmark"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!--box-widget-item end -->
                        <!--box-widget-item -->
                        <div class="box-widget-item fl-wrap block_box">
                            <div class="box-widget-item-header">
                                <h3>Similar listings :</h3>
                            </div>
                            <div class="box-widget  fl-wrap">
                                <div class="box-widget-content">
                                    <!--widget-posts-->
                                    <div class="widget-posts  fl-wrap">
                                        <ul class="no-list-style">
                                            <li>
                                                <div class="widget-posts-img"><a href="listing-single.html"><img
                                                            src="/images/gallery/thumbnail/1.png" alt=""></a>
                                                </div>
                                                <div class="widget-posts-descr">
                                                    <h4><a href="listing-single.html">Iconic Cafe</a></h4>
                                                    <div class="geodir-category-location fl-wrap"><a href="#"><i
                                                                class="fas fa-map-marker-alt"></i> 40 Journal Square
                                                            Plaza, NJ, USA</a></div>
                                                    <div class="widget-posts-descr-link"><a
                                                            href="listing.html">Restaurants </a> <a
                                                            href="listing.html">Cafe</a></div>
                                                    <div class="widget-posts-descr-score">4.1</div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="widget-posts-img"><a href="listing-single.html"><img
                                                            src="/images/gallery/thumbnail/1.png" alt=""></a>
                                                </div>
                                                <div class="widget-posts-descr">
                                                    <h4><a href="listing-single.html">MontePlaza Hotel</a></h4>
                                                    <div class="geodir-category-location fl-wrap"><a href="#"><i
                                                                class="fas fa-map-marker-alt"></i> 70 Bright St New
                                                            York, USA </a></div>
                                                    <div class="widget-posts-descr-link"><a href="listing.html">Hotels
                                                        </a> </div>
                                                    <div class="widget-posts-descr-score">5.0</div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="widget-posts-img"><a href="listing-single.html"><img
                                                            src="/images/gallery/thumbnail/1.png" alt=""></a>
                                                </div>
                                                <div class="widget-posts-descr">
                                                    <h4><a href="listing-single.html">Rocko Band in Marquee Club</a>
                                                    </h4>
                                                    <div class="geodir-category-location fl-wrap"><a href="#"><i
                                                                class="fas fa-map-marker-alt"></i>75 Prince St, NY,
                                                            USA</a></div>
                                                    <div class="widget-posts-descr-link"><a
                                                            href="listing.html">Events</a> </div>
                                                    <div class="widget-posts-descr-score">4.2</div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="widget-posts-img"><a href="listing-single.html"><img
                                                            src="/images/gallery/thumbnail/1.png" alt=""></a>
                                                </div>
                                                <div class="widget-posts-descr">
                                                    <h4><a href="listing-single.html">Premium Fitness Gym</a></h4>
                                                    <div class="geodir-category-location fl-wrap"><a href="#"><i
                                                                class="fas fa-map-marker-alt"></i> W 85th St, New York,
                                                            USA</a></div>
                                                    <div class="widget-posts-descr-link"><a
                                                            href="listing.html">Fitness</a> <a
                                                            href="listing.html">Gym</a> </div>
                                                    <div class="widget-posts-descr-score">5.0</div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- widget-posts end-->
                                </div>
                            </div>
                        </div>
                        <!--box-widget-item end -->
                        <!--box-widget-item -->
                        <div class="box-widget-item fl-wrap block_box">
                            <div class="box-widget-item-header">
                                <h3>Tags</h3>
                            </div>
                            <div class="box-widget opening-hours fl-wrap">
                                <div class="box-widget-content">
                                    <div class="list-single-tags tags-stylwrap">
                                        <a href="#">Hotel</a>
                                        <a href="#">Hostel</a>
                                        <a href="#">Room</a>
                                        <a href="#">Spa</a>
                                        <a href="#">Restourant</a>
                                        <a href="#">Parking</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--box-widget-item end -->
                    </div>
                    <!-- list-single-sidebar end -->
                </div>
            </div>
        </section>
        <div class="limit-box fl-wrap"></div>
    </div>
    <!--content end-->
</div>
<!-- wrapper end-->