<!-- wrapper-->
<div id="wrapper">
    <!-- content-->
    <div class="content">
        
        <section   id="sec1" data-scrollax-parent="true">
            <div class="container">
                    <div class="section-title">
                    <h2> KVKK</h2>
                    <div class="section-subtitle">KVKK</div>
                    <span class="section-separator"></span>
                </div>
                <!--about-wrap -->
                <div class="about-wrap">
                    <div class="row">
                        
                        <div class="col-md-12">
                            
                            <div class="ab_text">
                                <div class="ab_text-title fl-wrap">
                                    <h4>Ararsin.com Kişisel Verilerin Korunması ve İşlenmesi</h4>
                                    <span class="section-separator fl-sec-sep"></span>
                                </div>
                                    <p>a) Veri Sorumlusu 6698 sayılı Kişisel Verilerin Korunması Kanunu (6698 sayılı Kanun) uyarınca kişisel verileriniz, veri sorumlusu olarak Ararsın Group tarafından aşağıda açıklanan kapsamda toplanacak ve işlenebilecektir.</p>
                                    <p>b) Kişisel Verilerin Hangi Amaçla İşleneceği</p>
                                    <p>Kişisel verileriniz; ilgili hizmetlerimizin talep edilmesi, devamlılığı, elde olan verinin zenginleştirilip hizmetlere sunulması, faturalama, usulsüzlük, suistimal ve dolandırıcılık gibi durumların önlenmesi ve tespit edilmesi, şikayetlerinizi sonuçlandırma ve bilgilendirme, müşteri memnuniyeti, teşekkür, kutlama, düzenleyici ve denetleyici kurumlar, resmi merciler ile ilgili mevzuatta yer alan yasal yükümlülüklerin yerine getirilmesi ve denetim faaliyetleri amacıyla gerekli bilgilerin paylaşımı gibi ve benzeri amaçlarla işlenebilecek, sistemlerde muhafaza altında tutulabilecektir.</p>
                                    <p>c) İşlenen Kişisel Verilerin Kimlere ve Hangi Amaçla Aktarılabileceği</p>
                                    <p>Kişisel verileriniz; ilgili mevzuat hükümlerinin çizdiği sınırlar dahilinde, yukarıda belirtilen amaçların gerçekleştirilmesi ve ilgili mevzuatın getirdiği yükümlülüklerin yerine getirilmesi ile sınırlı olmak üzere;</p>
                                    <p>•	Ararsın Group,</p>
                                    <p>•	Yetki vermiş olduğumuz, Şirketimiz nam ve hesabına faaliyette bulunan şirketler, temsilcilerimiz, bayilerimiz,</p>
                                    <p>•	Düzenleyici ve denetleyici kurumlarla, acil çağrı halinde konumunuzu tespit edecek olan yetkili merciler, kişisel verilerinizi tabi olduğu kanunlarında açıkça talep etmeye yetkili olan kamu kurum veya kuruluşları,</p>
                                    <p>•	Belirtilen amaçlar kapsamında iş ortaklıkları, tedarikçi ve yüklenici şirketler, bankalar, kredi risk ve finans kuruluşları ve sair gerçek veya tüzel kişiler,</p>
                                    <p>•	Vergi ve benzeri danışmanlar, yasal takip süreçleri ile ilgili zorunlu kişiler, kurum ve kuruluşlar ve denetimciler de dâhil olmak üzere danışmanlık aldığımız üçüncü kişiler, ile ve bunlarla sınırlı olmaksızın yukarıda belirtilen amaçlarla yurt içi ve yurt dışı iş ortakları, hizmet alınan üçüncü kişi, yetkilendirilen kişi ve kuruluşlara aktarılabilecektir. 6698 sayılı Kanun’un kişisel verilerin aktarılmasına ilişkin 8. maddesi ve kişisel verilerin yurt dışına aktarılmasına ilişkin 9. maddesinde belirtilen kişisel veri işleme şartları ve amaçları saklıdır.</p>
                                    <p>d) Kişisel Veri Toplamanın Yöntemi ve Hukuki Sebebi</p>
                                    <p>Kişisel verileriniz; Şirketimiz tarafından sunulan tüm hizmetler ve yukarıda yer verilen amaçlar kapsamında Şirketimizin yükümlülüklerini gereği gibi yerine getirebilmesi amacı ile, sözlü, yazılı ya da mobil uygulama, elektronik posta, kısa mesaj, arama gibi elektronik ortamda toplanır.</p>
                                    <p>e) Kişisel Veri Sahibinin 6698 Sayılı Kanun’un 11. Maddesinde Sayılan Hakları</p>
                                    <p>6698 Sayılı Kanun 11. Maddesi uyarınca Şirketimize başvurarak;</p>
                                    <p>•	a) Kişisel verinizin işlenip işlenmediğini öğrenme,</p>
                                    <p>•	b) Kişisel verileriniz işlenmişse buna ilişkin bilgi talep etme,</p>
                                    <p>•	c) Kişisel verilerinizin işlenme amacını ve bunların amacına uygun kullanılıp kullanılmadığını öğrenme,</p>
                                    <p>•	ç) Yurt içinde veya yurt dışında kişisel verilerinizin aktarıldığı üçüncü kişileri bilme,</p>
                                    <p>•	d) Kişisel verilerinizin eksik veya yanlış işlenmiş olması hâlinde bunların düzeltilmesini isteme,</p>
                                    <p>•	e) Kanun ilgili maddesinde öngörülen şartlar çerçevesinde kişisel verilerinizin silinmesini veya yok edilmesini isteme,</p>
                                    <p>•	f) (d) ve (e) bentleri uyarınca yapılan işlemlerin, kişisel verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme,</p>
                                    <p>•	g) İşlenen verilerinizin münhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle kişinin kendisi aleyhine bir sonucun ortaya çıkmasına itiraz etme,</p>
                                    <p>•	h) Kişisel verilerin kanuna aykırı olarak işlenmesi sebebiyle zarara uğramanız hâlinde zararın giderilmesini talep etme,</p>
                                    <p>•	haklarınız bulunmaktadır.</p>
                                    <p>•	6698 sayılı Kişisel Verilerin Korunması Kanunu kapsamında kişisel verilerinizle ilgili tüm soru ve taleplerinizi şirketimiz Akşamsettin Mah. Zeynep Hanım Sok. Arafat Apt. No : 6/13 SELÇUKLU KONYA adresine yazılı olarak (Noter kanalı, iadeli taahhütlü posta v.b. yollarla) iletebilirsiniz.</p>

                                <!-- <a href="#sec3" class="btn color2-bg float-btn custom-scroll-link">Our Team <i class="fal fa-users"></i></a>--> 
                            </div>
                        </div>
                    </div>
                </div>
                <!-- about-wrap end  --> 
            </div>
        </section>
        <!--section end-->  
    </div>
    <!--content end-->
</div>
<!-- wrapper end-->